<!-- Generated template for the SccpEditorComponent component -->
<ion-card>
  <ion-card-header color = "light">
    <ion-icon name="create"></ion-icon> Code editor
  </ion-card-header>
  <ion-card-content>
<ion-list>
  <!-- <ion-item>
    <ion-icon name="create"></ion-icon> Code editor
  </ion-item> -->
  <ion-item>
    <ion-label floating>Type here your program</ion-label>
    <ion-textarea [(ngModel)] = "program"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label floating>Depth (Computational steps to execute)</ion-label>
    <ion-input [(ngModel)]="depth" type = "number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button full color="secondary" icon-start (click)="runProgram()"><ion-icon name="nuclear"></ion-icon>Run</button>
        </ion-col>
        <ion-col>
          <button ion-button full color="primary" icon-start (click)="clearProgram()"><ion-icon name="close"></ion-icon>Clear</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
<div *ngIf = "isLoading">
  <ion-spinner color="light"></ion-spinner>
  <br>Running program...
</div>
</ion-card-content>
</ion-card>
