<ion-header>
  <ion-navbar color = "dark">
    <ion-title>
      TApps
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Welcome to tApps! a web/mobile application to execute programs written in an SCCP based language.
  <br>
  <br>
  <sccp-editor (sccpResults) = "onResultsChange($event)"></sccp-editor>
  <sccp-results [sccpResults] = "sccpResults"></sccp-results>
  <server-status></server-status>
</ion-content>
