<!-- Generated template for the SccpResultsComponent component -->
<ion-card>
  <ion-card-header color = "light">SCCP Program Results</ion-card-header>
  <ion-card-content *ngIf = "sccpResults; else noResults">
    <ion-item-group>
      <ion-item-divider color = "dark">
        Threads
      </ion-item-divider>
      <ion-item *ngFor = "let thread of sccpResults['T']['threads']">
        SpaceId: {{thread['spaceId']}}, Process: {{thread['k']}}
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color = "dark">
        Spaces
      </ion-item-divider>
      <ion-item *ngFor = "let space of sccpResults['T']['spaces']">
        {{space}}
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="dark">
        JSON Object
      </ion-item-divider>
      <ion-item text-wrap>
        {{sccpResultsStringify}}
      </ion-item>
    </ion-item-group>
    <!-- <ion-list>
      <ion-list-header>
        Threads:
      </ion-list-header>
      <ion-list-header>
        Spaces:
      </ion-list-header>
    </ion-list> -->
  </ion-card-content>
  <ng-template #noResults>
    <ion-card-content>
    No results available.
    </ion-card-content>
  </ng-template>
</ion-card>
