<!-- Generated template for the ServerStatusComponent component -->
<ion-card color = "dark">
  <ion-card-header color = "light">
    Server status
  </ion-card-header>
  <ion-card-content *ngIf = "!checking && isOn;">
    <p [ngClass] = "statusClass">Server status is: {{statusText}}, status code: {{status}}</p>
    <br>
    <p>Last time checked was {{lastTime}}</p>
  </ion-card-content>
  <!-- <ng-template *ngIf = > -->
    <ion-card-content *ngIf = "checking && isOn">
      <ion-spinner color="light"></ion-spinner> 
      <br>Checking server status...
    </ion-card-content>
  <!-- </ng-template> -->
  <ion-list>
    <ion-item>
  <ion-label>Check server status</ion-label>
  <ion-toggle [(ngModel)] = "isOn"></ion-toggle>
  </ion-item>
  </ion-list>
</ion-card>
